<br>
<div class="row">
    <div class="col-6 col-md-6 static-col" >
        <mat-card appearance="outlined" style="height: 700px">

            <mat-card-header>
                <div class="row">
                    <h1>Lorem ipsum</h1>
                    <h6>dolor sit amet</h6>
                    <h6 style="color: gray;">consectetur adipiscing</h6>
                </div>
            </mat-card-header>

            <mat-card-content style="margin-top: 100px;">

                <div class="index-container">
                    <div class="index">
                      <span class="line" id="about-line"></span>
                      <p id="about-index">ABOUT</p>
                    </div>
                    <div class="index">
                      <span class="line" id="exp-line"></span>
                      <p id="exp-index">EXP</p>
                    </div>
                    <div class="index">
                      <span class="line" id="projects-line"></span>
                      <p id="projects-index">PROJECTS</p>
                    </div>
                  </div>
                
            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-6 col-md-6 scrollable-col">
        <mat-card appearance="outlined" id="about" class="section">
            <mat-card-content>
                
                <mat-card-content>
                    
                    <div class="row">
                        <div class="col-6">
                            <img src="#" width="250px" height="160px">

                        </div>

                        <div class="col-6">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Nullam quam est, commodo in convallis pharetra, viverra eu mi. 
                            In gravida faucibus nibh a congue. Nunc dapibus arcu a sapien commodo,
                            a dapibus est vestibulum.
                        </div>
                        <p></p>
                        <div class="col-12">
                            <p>* Lorem ipsum dolor sit amet</p>
                            <p>* consectetur adipiscing elit</p>
                            <p>* commodo in convallis</p>
                            <p>* In gravida faucibus</p>

                        </div>
                    </div>

                    
                </mat-card-content>
            
            </mat-card-content>
        </mat-card>
        
        <p id="exp" class="section"></p>
        @for(experience of experiences; track experience){
            <br>
            <mat-card appearance="outlined">
                <mat-card-content>
                    
                    <mat-card-content>
                        <div class="row">
                            <div class="col-3">
                                <div class="row">
                                    <p>Lorem ipsum do</p>
                                </div>
    
                            </div>
    
                            <div class="col-9">
                                <div class="row">
                                    <p>consectetur adipiscing elit.</p>
                                </div>
    
                                <div class="row" >
                                    <p>Nullam quam est, commodo in convallis pharetra, viverra eu mi. 
                                        In gravida faucibus nibh a congue.
                                    </p>
                                </div>
    
                                <div class="row">
                                    <div class="col-3">
                                        <button mat-flat-button color="accent">Basic</button>
                                    </div>
    
                                    <div class="col-3">
                                        <button mat-flat-button color="accent">Basic</button>
                                    </div>
    
                                    <div class="col-3">
                                        <button mat-flat-button color="accent">Basic</button>
                                    </div>
    
                                    <div class="col-3">
                                        <button mat-flat-button color="accent">Basic</button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
    
                    </mat-card-content>
                
                </mat-card-content>
            </mat-card>
            
        }
        <br>
    </div>
</div>
    

